<div class="container">
  <!--   формуємо таблицю-->
  <table>
    <th>Identifier</th>
    <th>Name</th>
    <th>Model</th>
    <th>Price</th>
    <tr *ngFor="let product of products">
      <td>{{product._id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.model}}</td>
      <td>{{product.price}}</td>
    </tr>
  </table>
</div>
