<!--55555555555555555555555555555555555555-->
<!--<div #text [ngClass]="status ? 'success' : 'danger'">Test</div>-->
<!--<button (click)="changeColor()">Click</button>-->
<!--&lt;!&ndash;<button (click)="changeColor()">Puk</button>&ndash;&gt;-->


<!--444444444444444444444444444444444444444444444444-->
<div>
  <app-app-products></app-app-products>
</div>

